{% assign head_card = site.data.meng.head_card %}
{% if  site.data.site.lang == 'zh-CN' %}
{% assign lang = site.data.lang[site.data.site.lang].meng.head_card %}
{% else %}
{% assign lang = site.data.lang.en-US %}
{% endif %}
<style>
    .k-head-card-media{
        display: block cursor: pointer;
        max-height: 284px;
        min-height: 284px;
        background-position: 50% 50%;
        background-size: cover;
        background-color: white;
    }
    .k-head-card-media a{
        text-decoration: none;
    }
    .k-head-card-content .mdui-card-header-title{
        line-height: 40px;
        margin-left: 0;
    }
    .k-head-card-content .mdui-card-header-avatar{
        margin-right: 12px;
    }
    .mdui-card-media img.k-head-card-img{
        width: 64px;
        margin: 0 auto;
    }
</style>
    <div class="mdui-col-sm-4">
        <div style="overflow: visible;" class="mdui-card k-list-card mdui-shadow-{{site.data.site.card.card_shadow}} {% if site.data.site.card.card_hoverable == true%}mdui-hoverable{% endif %}">
            <div class="mdui-card-media k-head-card-media mdui-valign">
                <img class="k-head-card-img" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/65082816_182468642755887_5759137414031343616_n.jpg?_nc_cat=100&_nc_oc=AQm4iWzUmETxLeVUV-O3dhnGcM1b0wdOyt0kzTgB8LxXoceF9U0BrRvE2UEEvcwnsI4&_nc_ht=scontent-lga3-1.xx&oh=b88ef7742151c2e59c6edda49725be9c&oe=5DC486B8" alt="">
            </div>
            <div class="mdui-divider"></div>
            <div class="mdui-card-header k-head-card-content">
                <div class="mdui-card-header-title mdui-float-left">hanya</div>
                <button mdui-menu="{target: '#k-homemenu'}" class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">&#xe5d4;</i></button>
                <ul class="mdui-menu" id="k-homemenu">
                    <li class="mdui-menu-item">
                        <a target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}" class="mdui-ripple">{{lang.rss}}</a>
                    </li>
                    <li class="mdui-menu-item">
                        <a target="_blank" href="{{ "/sitemap.xml" | prepend: site.baseurl }}" class="mdui-ripple">{{lang.sitemap}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
